body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
}
h1{
    color: white;
}

title{
    cursor: pointer;
}
details{
    cursor: pointer;
    padding: .5rem;
    border: 2px red solid;
    margin-top: 3px;
    background: rgb(240, 169, 169);
}

details p{
    font-size: .75rem;
}

summary{
    font-weight: 600;
}